{% load static %}
<header class=" header navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <img class="logo" src="{%static 'logo.png'%}" alt="">
      </a>
    <div>
            <span class="ml-5" style="color: #ffffff">Welcome, </span>
            <span id="uname" class="" style="color: #ffffff">Uname1</span><br/>
            <span id="lastlogin" class="small ml-5" style="color: #ffffff"></span>
</div>

      <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <input class="form-control mr-4" type="text" placeholder="Search" aria-label="Search">
                </div>
            </li>
          </ul>
      </div>
    <form method="POST" id="form1" action="/logout">
        {% csrf_token %}
      <a id="logout" onclick="document.getElementById('form1').submit();" class="float-right native-color "><i class="fas fa-power-off" style="font-size:30px"></i></a>
    </form>
</header>
<script>
    $( document ).ready(function() {
        var today = new Date();
        var timestamp = "Last Login - "+today.getHours() + ":" + today.getMinutes()+", "+today.getFullYear()+"-"+(today.getMonth()+1)+"-"+today.getDate();
        $("#lastlogin").text(timestamp);
    });
</script>
