<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Bird Bank</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href=" {%static 'style.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="{% static 'scripts.js' %}"></script>
</head>
<body>

  <!-- Footer -->
  {% block content1 %}
    {% include "header1.html" %}
  {% endblock %}
  <!-- Content -->
  <div class="container-fluid card shadow-sm p-3 mb-5 bg-white rounded" style="max-width:75%;">
    <div class="row" style="margin:2%;">
      <div class="col-md-8">
          <h1><b>Bird Bank</b></h1>
          <p>Demo testing website - learn automation more</p>
      </div>
    </div>
    <div class="row" style="margin:2%;">
      <div class="container z-depth-1">
        <!--Section: Content-->
        <section class="bg-light shadow p-3 mb-5 rounded">
          <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">
              <div class="view">
                <img src="{% static 'bank_image.png'%}" class="img-fluid" alt="smaple image">
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <div>
                <h3 class="font-weight-bold mb-4">PERSONAL BANKING</h3>
                  <p>Login to access you personal banking services. Our Online banking is available at your convenience, on 24/7 customer service</p>
                <button id="signin_button" type="button" class="btn btn-primary primary-button btn-rounded">Login</button>
              </div>
            </div>
          </div>
        </section>
        <!--Section: Content-->
      </div>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'financial.jpg'%}" alt="Los Angeles" width="1100" height="500">
          <div class="carousel-caption d-none d-md-block">
            <h5>Financial Assistance</h5>
            <p>We provide best financial assistance to save lot of money</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'locker.jpg'%}" alt="Chicago" width="1100" height="500">
          <div class="carousel-caption d-none d-md-block">
            <h5>Safe and Secure</h5>
            <p>Give your money to us and sleep well</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'savings.jpg'%}" alt="New York" width="1100" height="500">
          <div class="carousel-caption d-none d-md-block">
          <h5>Saving</h5>
          <p>Every rupee has its worth. Save and get lot of benefits</p>
          </div>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div class="container my-5">
    <!--Section: Content-->
      <section class="text-center">
      <!-- Section heading -->
      <h3 class="font-weight-bold black-text mb-4 pb-2">WHAT WE OFFER</h3>
      <hr class="w-header">
      <!--First row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-3 mb-4 shadow p-3 mb-5 rounded">
            <!-- Card content -->
          <a class="native-color" href="hello.png">
          <div class="card-body my-4">
              <p><i class="fa fa-piggy-bank display-4"></i></p>
              <p><h5 class="black-text mb-0">SAVINGS ACCOUNT</h5></p>
            </div>
          </a>
          <!-- Card -->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4 shadow p-3 mb-5 rounded">
          <!-- Card -->
            <!-- Card content -->
          <a class="native-color">
          <div class="card-body my-4">
              <p><i class="fas fa-sign-language display-4"></i></p>
              <h5 class="black-text mb-0">LOAN</h5>
            </div>
          </a>
          <!-- Card -->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4 shadow p-3 mb-5 rounded">
          <!-- Card -->
            <!-- Card content -->
            <a class="native-color">
            <div class="card-body my-4">
              <p><i class="fas fa-credit-card display-4"></i></p>
              <h5 class="black-text mb-0">CREDIT CARD</h5>
            </div>
            </a>
          <!-- Card -->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4 shadow p-3 mb-5 rounded">
          <!-- Card -->
            <!-- Card content -->
            <a class="native-color">
            <div class="card-body my-4">
              <p><i class="fa fa-car-crash display-4"></i></p>
              <p><h5 class="black-text mb-0">INSURANCE</h5></p>
            </div>
            </a>
          <!-- Card -->
        </div>
        <!--Grid column-->
      </div>
      <!--First row-->
      </section>
  </div>
    {% block content2 %}
      {% include "purchasecurrency.html" %}
    {% endblock %}
  </div>

<!-- Footer -->
  {% block content3 %}
    {% include "footer.html" %}
  {% endblock %}

</body>
</html>
