<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay Bills - Bird Bank</title>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href=" {%static 'style.css'%}">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'crdrchart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
        .hide{
                display:none
            }
            .ui-datepicker {font-size: 12px;}
            .ui-datepicker-header {
                background: url('../img/dark_leather.png') repeat 0 0 #003366;
                color: #e0e0e0;
                font-weight: bold;
                -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
                -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
                box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
                text-shadow: 1px -1px 0px #000;
                filter: dropshadow(color=#000, offx=1, offy=-1);
                line-height: 30px;
                border-width: 1px 0 0 0;
                border-style: solid;
                border-color: #003366;
            }
    </style>
    <script>
          $(document).ready(function() {
                $('.nav-item').removeClass('active');
                $('#nav-paybills-tab').addClass('active');
    });
    </script>
</head>
<body>
  {% block content1 %}
    {% include "header2.html" %}
  {% endblock %}
    <div class="container-fluid card shadow-sm p-3 mb-4 bg-white rounded" style="max-width:75%;">
          {% block content3 %}
            {% include "header3.html" %}
          {% endblock %}
      <div class="row" style="margin:2%;">
        <div class="container z-depth-1">
            <!--Section: Content-->
            <section class="bg-light shadow p-3 mb-4 rounded">
                <div class="navbar row pr-lg-5 title-section">
                    <p class="m-1">Bill Payment</p>
                </div>
                <div class="row m-4 p-2 border ">
                    <div class="col-md-12">
                    <div class="row" id="otheracc_data">
                        <div class="col-md-12 mb-1 mt-4 table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-right text-center" rowspan="2" scope="col">Biller Name</th>
                                        <th class="border-right text-center" rowspan="2" scope="col">Registration Number</th>
                                        <th class="border-right text-center" rowspan="2" scope="col">City</th>
                                        <th class="border-right text-center" colspan="5" scope="col">Auto Pay</th>
                                        <th class="border-right text-center" rowspan="2" scope="col"></th>
                                        <th class="border-right text-center" rowspan="2" scope="col"></th>
                                    </tr>
                                    <tr>
                                        <th class="border-right text-center" scope="col">Status</th>
                                        <th class="border-right text-center" scope="col">Amount</th>
                                        <th class="border-right text-center" scope="col">Freq.</th>
                                        <th class="border-right text-center" scope="col">StartDate</th>
                                        <th class="border-right text-center" scope="col">EndDate</th>
                                    </tr>
                                </thead>
                                <tbody class="small">
                                    <tr>
                                        <td>SBI Life Insurance Company Limited</td>
                                        <td>9884231263954936</td>
                                        <td>Laurel Bank</td>
                                        <td class="text-center">No</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center p-0 next"><i class="far fa-edit"></i></td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Yes Mutual Fund</td>
                                        <td>5925247767748193</td>
                                        <td>Moorfield States</td>
                                        <td class="text-center">No</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center p-0 next"><i class="far fa-edit"></i></td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr>
                                        <td>TATA Mutual Fund iSIP</td>
                                        <td>7429844648620015</td>
                                        <td>Strathmore Pvt</td>
                                        <td class="text-center">Yes</td>
                                        <td class="text-center">₹10500.46</td>
                                        <td class="text-center">Monthly</td>
                                        <td class="text-center">16-06-2020</td>
                                        <td class="text-center">16-06-2022</td>
                                        <td class="text-center p-0 next"><i class="far fa-edit"></i></td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr>
                                        <td>VISVODAYAA TRUST</td>
                                        <td>2213195423875453</td>
                                        <td>Laurel Bank</td>
                                        <td class="text-center">No</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center p-2 next"><i class="far fa-edit"></i></td>
                                        <td class="text-center p-2 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr>
                                        <td colspan="10" class="text-right">
                                            <button type="button" class="btn btn-primary primary-button">
                                             <i class="fas fa-plus-circle"></i> Add New Biller
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" class="border-bottom">
                                           <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1 ">
                                                    Biller Name
                                                </div>
                                                 <div class="col-md-3">
                                                     <input type="text" class="form-control" placeholder="Enter Biller Name" style="font-size:0.8rem">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Registration Number
                                                </div>
                                                 <div class="col-md-3">
                                                     <input type="text" class="form-control" placeholder="Enter Registration Number" style="font-size:0.8rem">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Auto Pay
                                                </div>
                                                 <div class="col-md-3">
                                                     <div class="row ">
                                                        <div class="col-md-6 mb-1 ">
                                                            <div class="custom-control custom-radio">
                                                              <input type="radio" id="yes" name="customRadio" class="custom-control-input">
                                                              <label class="custom-control-label" for="yes">Yes</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-1 ">
                                                            <div class="custom-control custom-radio">
                                                              <input type="radio" id="no" name="customRadio" class="custom-control-input">
                                                              <label class="custom-control-label" for="no">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Auto Pay Limit
                                                </div>
                                                 <div class="col-md-3">
                                                     <input type="text" class="form-control" placeholder="Enter Pay Limit" style="font-size:0.8rem">
                                                </div>
                                            </div>
                                             <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Auto Pay Frequency
                                                </div>
                                                 <div class="col-md-3">
                                                     <select name="accounttype" id="frequency" class="form-control" style="font-size:0.8rem">
                                                        <option value="SAV">Monthly</option>
                                                        <option value="AUD">Quarterly</option>
                                                        <option value="BTC">Half Yearly</option>
                                                        <option value="BTC">Annually</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Auto Pay StartDate
                                                </div>
                                                 <div class="col-md-3">
                                                    <input type="text" id="start_date" class=" date_picker form-control form-control-sm">
                                                    <script>
                                                        $(document).ready(function() {

                                                            $(function() {
                                                                $( ".date_picker" ).datepicker();
                                                            });
                                                        })
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4 text-right">
                                                </div>
                                                <div class="col-md-2 ml-1">
                                                    Auto Pay EndDate
                                                </div>
                                                 <div class="col-md-3">
                                                    <input type="text" id="end_date" class=" date_picker form-control form-control-sm">
                                                    <script>
                                                        $(document).ready(function() {

                                                            $(function() {
                                                                $( ".date_picker" ).datepicker();
                                                            });
                                                        })
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-9 text-right">
                                                    <button type="button" class="btn btn-primary primary-button">
                                                        Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-primary primary-button">
                                                        Continue
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                       </div>
                    </div>
                    <div class="row hide" id="ownacc_data">
                        <div class="col-md-12 mb-1 mt-4 table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-right text-center" scope="col">Account Number</th>
                                        <th class="border-right text-center" scope="col">Branch</th>
                                        <th class="border-right text-center" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="small">

                                    <tr class="sub_heading">
                                        <td colspan="3"><strong>Savings Accounts</strong></td>
                                    </tr>
                                    <tr>
                                        <td>9999000453354533</td>
                                        <td>San Martin</td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr>
                                        <td>9999000453354527</td>
                                        <td>Chumacera</td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                    <tr class="sub_heading">
                                        <td colspan="3"><strong>Loan Accounts</strong></td>
                                    </tr>
                                    <tr>
                                        <td>9999000453354533</td>
                                        <td>San Martin</td>
                                        <td class="text-center p-0 next"><i class="fas fa-angle-double-right"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                       </div>
                    </div>
                    <div class="row sub_heading mt-4  p-2">
                        <div class="col-md-12">
                            <strong>Biller Information</strong>
                        </div>
                    </div>
                    <div class="row small mt-3">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3 ">
                            Biller Name
                        </div>
                         <div class="col-md-4">
                             <strong>SBI Life Insurance Company Limited</strong>
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3">
                            Registration Number
                        </div>
                         <div class="col-md-3">
                             <strong>9884231263954936</strong>
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3">
                            City
                        </div>
                         <div class="col-md-3">
                             <strong>Novy Leningrad</strong>
                        </div>
                    </div>
                    <div class="row sub_heading mt-4 p-2">
                        <div class="col-md-12 align-middle">
                            <strong>Payment Information</strong>
                        </div>
                    </div>
                    <div class="row small mt-3">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3 align-middle">
                            Account Type
                        </div>
                         <div class="col-md-3">
                             <select name="accounttype" id="accounttype" class="form-control" style="font-size:0.8rem">
                                <option value="SAV">Savings</option>
                                <option value="AUD">Loan</option>
                                <option value="BTC">Credit</option>
                            </select>
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3">
                            Account Number
                        </div>
                         <div class="col-md-3">
                             <select name="accountnumber" id="accountnumber1" class="form-control" style="font-size:0.8rem">
                                <option value="SAV">9999000453354533</option>
                                <option value="AUD">9999000453354527</option>
                            </select>
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3">
                            Amount
                        </div>
                         <div class="col-md-3 ">
                             <input type="text" class="form-control" placeholder="Enter the amount" style="font-size:0.8rem">
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-4 text-right">
                        </div>
                        <div class="col-md-2 ml-3">
                            Message
                        </div>
                         <div class="col-md-3 ">
                             <input type="text" class="form-control" placeholder="What's this for" style="font-size:0.8rem">
                        </div>
                    </div>
                    <div class="row small mt-2">
                        <div class="col-md-12 text-right">
                        <button id="signin" type="button" class="btn btn-primary primary-button btn-rounded float-right">Confirm</button>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  {% block content2 %}
    {% include "footer.html" %}
  {% endblock %}
</body>
</html>