<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase - Bird Bank</title>
        {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href=" {%static 'style.css'%}">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'crdrchart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
        .hide{
                display:none
            }
            .ui-datepicker {font-size: 12px;}
            .ui-datepicker-header {
                background: url('../img/dark_leather.png') repeat 0 0 #003366;
                color: #e0e0e0;
                font-weight: bold;
                -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
                -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
                box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
                text-shadow: 1px -1px 0px #000;
                filter: dropshadow(color=#000, offx=1, offy=-1);
                line-height: 30px;
                border-width: 1px 0 0 0;
                border-style: solid;
                border-color: #003366;
            }
    </style>
    <script>
          $(document).ready(function() {
                $('.nav-item').removeClass('active');
                $('#nav-purchase-tab').addClass('active');
    });
    </script>
</head>
<body>
  {% block content1 %}
    {% include "header2.html" %}
  {% endblock %}
    <div class="container-fluid card shadow-sm p-3 mb-4 bg-white rounded" style="max-width:75%;">
          {% block content3 %}
            {% include "header3.html" %}
          {% endblock %}
      <div class="row" style="margin:2%;">
        <div class="container z-depth-1">
            <!--Section: Content-->
            <section class="bg-light shadow p-3 rounded">
                <div class="row m-4 p-2 border ">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="card m-4 product-div1 text-white bg-dark">
                                    <img class="card-img-top img-responsive transition img-transform zoom" src="{% static 'currency.jpg'%}"  alt="Card image cap" height="250px">
                                    <div class="card-body">
                                       <h5 class="card-title">Purchase Your Foreign Currency</h5>
                                       <p class="card-text">You can choose from over 30 currencies to order online, locking in our best rates and leaving you with one less thing to worry about for your next trip.</p>
                                       <a href="" class="btn btn-outline-light btn-sm">Order Now</a>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card m-4 product-div1 text-white bg-dark">
                                    <img class="card-img-top img-responsive transition img-transform zoom" src="{% static 'goldcoin.jpg'%}"  alt="Card image cap" height="250px">
                                    <div class="card-body">
                                       <h5 class="card-title">Purchase Your Digital Gold</h5>
                                       <p class="card-text">World’s first gold accounts that can be accessed digitally. Our digital gold product has been embraced by consumers across all spectra of the society.</p>
                                       <a href="" class="btn btn-outline-light btn-sm">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4  p-2">
                            <div class="col-md-12">
                                <div class="navbar row pr-lg-5 title-section">
                                    <p class="m-1">PURCHASE FOREIGN CURRENCY</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                              <div class="col-md-3">
                              </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                              <div class="row mb-2">
                                  <div class="mt-3 mr-2">
                                    <select name="source" id="source" class="form-control">
                                        <option value="ARS">Argentina Peso</option>
                                        <option value="AUD">Australia Dollar</option>
                                        <option value="BTC">Bitcoin</option>
                                        <option value="BRL">Brazil Real</option>
                                        <option value="CAD">Canada Dollar</option>
                                        <option value="CLP">Chile Peso</option>
                                        <option value="CNY">China Yuan Renminbi</option>
                                        <option value="CZK">Czech Republic Koruna</option>
                                        <option value="DKK">Denmark Krone</option>
                                        <option value="EUR">Euro Member Countries</option>
                                        <option value="FJD">Fiji Dollar</option>
                                        <option value="HNL">Honduras Lempira</option>
                                        <option value="HKD">Hong Kong Dollar</option>
                                        <option value="HUF">Hungary Forint</option>
                                        <option value="ISK">Iceland Krona</option>
                                        <option value="INR" selected>India Rupee</option>
                                        <option value="IDR">Indonesia Rupiah</option>
                                        <option value="ILS">Israel Shekel</option>
                                        <option value="JPY">Japan Yen</option>
                                        <option value="KRW">Korea (South) Won</option>
                                        <option value="MYR">Malaysia Ringgit</option>
                                        <option value="MXN">Mexico Peso</option>
                                        <option value="NZD">New Zealand Dollar</option>
                                        <option value="NOK">Norway Krone</option>
                                        <option value="PKR">Pakistan Rupee</option>
                                        <option value="PHP">Philippines Peso</option>
                                        <option value="PLN">Poland Zloty</option>
                                        <option value="RUB">Russia Ruble</option>
                                        <option value="SGD">Singapore Dollar</option>
                                        <option value="ZAR">South Africa Rand</option>
                                        <option value="SEK">Sweden Krona</option>
                                        <option value="CHF">Switzerland Franc</option>
                                        <option value="TWD">Taiwan New Dollar</option>
                                        <option value="THB">Thailand Baht</option>
                                        <option value="TRY">Turkey Lira</option>
                                        <option value="GBP">United Kingdom Pound</option>
                                        <option value="USD">United States Dollar</option>
                                        <option value="VND">Viet Nam Dong</option>
                                        </select>
                                  </div>
                                  <div class="mt-3 mr-2">
                                    <input type="text" id="form-source" class="form-control">
                                  </div>
                              </div>
                              <div class="row mb-2">
                                  <div class="mt-3 mr-2">
                                    <select name="source" id="target" class="form-control">
                                        <option value="ARS">Argentina Peso</option>
                                        <option value="AUD">Australia Dollar</option>
                                        <option value="BTC">Bitcoin</option>
                                        <option value="BRL">Brazil Real</option>
                                        <option value="CAD">Canada Dollar</option>
                                        <option value="CLP">Chile Peso</option>
                                        <option value="CNY">China Yuan Renminbi</option>
                                        <option value="CZK">Czech Republic Koruna</option>
                                        <option value="DKK">Denmark Krone</option>
                                        <option value="EUR">Euro Member Countries</option>
                                        <option value="FJD">Fiji Dollar</option>
                                        <option value="HNL">Honduras Lempira</option>
                                        <option value="HKD">Hong Kong Dollar</option>
                                        <option value="HUF">Hungary Forint</option>
                                        <option value="ISK">Iceland Krona</option>
                                        <option value="INR">India Rupee</option>
                                        <option value="IDR">Indonesia Rupiah</option>
                                        <option value="ILS">Israel Shekel</option>
                                        <option value="JPY">Japan Yen</option>
                                        <option value="KRW">Korea (South) Won</option>
                                        <option value="MYR">Malaysia Ringgit</option>
                                        <option value="MXN">Mexico Peso</option>
                                        <option value="NZD">New Zealand Dollar</option>
                                        <option value="NOK">Norway Krone</option>
                                        <option value="PKR">Pakistan Rupee</option>
                                        <option value="PHP">Philippines Peso</option>
                                        <option value="PLN">Poland Zloty</option>
                                        <option value="RUB">Russia Ruble</option>
                                        <option value="SGD">Singapore Dollar</option>
                                        <option value="ZAR">South Africa Rand</option>
                                        <option value="SEK">Sweden Krona</option>
                                        <option value="CHF">Switzerland Franc</option>
                                        <option value="TWD">Taiwan New Dollar</option>
                                        <option value="THB">Thailand Baht</option>
                                        <option value="TRY">Turkey Lira</option>
                                        <option value="GBP">United Kingdom Pound</option>
                                        <option value="USD" selected>United States Dollar</option>
                                        <option value="VND">Viet Nam Dong</option>
                                        </select>
                                  </div>
                                  <div class="mt-3 mr-2">
                                    <input type="text" id="form-target" class="form-control">
                                  </div>
                              </div>
                              <div class="row mb-2">
                                  <p class="small">1 Indian Rupee equals to 0.013 United States Dollar</p>
                                  <p class="h3 hide">100 Indian Rupee equals to 1.32 United States Dollar</p>
                              </div>
                              <div class="row mb-2">
                                  <div class="col-sm-12 text-right">
                                      <button type="button" class="btn btn-primary primary-button btn-rounded mt-2">Purchase <i class="fas fa-shopping-cart"></i></button>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="row mt-4  p-2">
                            <div class="col-md-12">
                                <div class="navbar row pr-lg-5 title-section">
                                    <p class="m-1">PURCHASE GOLD</p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-4">
                            <div class="col-md-12  p-2 border">
                                <div class="row pl-4 pr-4 pt-4">
                                    <div class="col-md-12 sub_heading p-2" style="align-self:center;">
                                        <strong><i class="fas fa-info-circle"></i> You can order only 100grams per transaction (Today's Rate ₹4901.56/g)</strong>
                                    </div>
                                </div>
                                <div class="row">
                                      <div class="col-md-6" style="align-self:center;">
                                          <div class="row">
                                              <div class="col-md-12 draggable" id="drag1">
                                                <img class="ml-5 " src="{% static 'goldbar.png'%}" width="45%">
                                                <div class="grams-overlay">
                                                    <div class="text">10 Grams</div>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12 draggable" id="drag2">
                                                    <img class="ml-5" src="{% static 'goldbar.png'%}" width="45%">
                                                    <div class="grams-overlay">
                                                        <div class="text">40 Grams</div>
                                                    </div>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12 draggable" id="drag3">
                                                    <img class="ml-5" src="{% static 'goldbar.png'%}" width="45%">
                                                    <div class="grams-overlay">
                                                        <div class="text">50 Grams</div>
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6" id="droppable" style="align-self:center; position: static !important;">
                                        <img class="ml-5 cart" src="{% static 'emptycart.png'%}" width="75%">
                                      </div>
                                  </div>
                                <div class="row m-3">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3 p-2 text-right">
                                        Total Gold:
                                    </div>
                                    <div class="col-md-2 p-2 bg-warning text-center">
                                        0 grams
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                <div class="row mb-2 mr-4">
                                  <div class="col-sm-7"></div>
                                  <div class="col-sm-5 text-center">
                                      <button type="button" class="btn btn-primary primary-button btn-rounded mt-2">Purchase <i class="fas fa-shopping-cart"></i></button>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <script>
                        $( init );

                        function init() {
                          $('.draggable').draggable();
                          $('#droppable').droppable( {
                            drop: handleDropEvent
                          } );
                        }

                        function handleDropEvent( event, ui ) {
                          var draggable = ui.draggable;
                          draggable.fadeOut();
                          $('.cart').attr("src","{% static 'filled_cart.png'%}");
                        }
                        </script>
                    </div>
                </div>
            </section>
        </div>
      </div>
    </div>
  {% block content2 %}
    {% include "footer.html" %}
  {% endblock %}
</body>
</html>